body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-size: x-large;
}

#main-doc {
    margin-left: 300px;
    padding: 0 10px;
}

#navbar {
    top: 0;
    left: 0;
    z-index: 1;
    width: 280px;
    height: 100%;
    position: fixed;
    background-color: #402258;
    overflow-x: hidden;
}

#navbar > h4 {
    padding: 0px 5px;
    color: white;
}

#navbar > a:link {
    color: black;
    display: block;
    font-size: x-large;
    padding: 10px 5px;
    text-decoration: none;
    border-bottom: 2px solid black ;
}

#navbar > a:visited {
    color: black;
}

#navbar > a:hover {
    color: #f1f1f1;
    border-bottom: 2px solid white ;

}
.main-section {
    margin: 0px 5px  25px 5px;
}

code {
    color: white;
    padding: 5px 0;
    font-size: x-large;
    background-color: blueviolet;
}

#Reference > a {
    text-decoration: none;
    color: steelblue;
}

li {
    padding: 10px 0;
}

